{% extends "base.html" %}
{% block header %}
{{ super() }}
<script>
    
</script>
{% endblock %}

{% block container %}
{{ super() }}
<div class="tech-article article-container">
    <div class="article-list-wrapper">
        <h2 class="article-list-title">
            <a href='/article/tech'>Technology.</a>
        </h2>
        <div class="article-list-container">
            <ul class="article-list">
                {% for article in techArticles %}
                <li class="article-list-item">
                    <span class="article-time">{{ article.time }}</span>
                    <a href="/article/{{ article.title | urlencode }}" class="article-title">{{ article.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="live-article article-container">
    <div class="article-list-wrapper">
        <h2 class="article-list-title">
            <a href='/article/live'>Live & Peace.</a>
        </h2>
        <div class="article-list-container">
            <ul class="article-list">
                {% for article in liveArticles %}
                <li class="article-list-item">
                    <span class="article-time">{{ article.time }}</span>
                    <a href="/article/{{ article.title | urlencode }}" class="article-title">{{ article.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}