module.exports = {
    root: true,
    parserOptions: {
        ecmaVersion: 2021,
        sourceType: 'module',
    },
    extends: ['futu', 'plugin:vue/recommended', 'plugin:prettier/recommended'],
    plugins: ['vue'],
    rules: {
        semi: ['error', 'always'],
        'no-console': 0,
        'new-cap': 0,
        'no-shadow': ['error', { builtinGlobals: false, hoist: 'functions', allow: [] }],
        'require-await': 'error',
        'no-await-in-loop': 'error',
    },
    globals: {
        document: true,
        localStorage: true,
        window: true,
    },
    env: {
        es6: true,
        node: true,
        browser: true,
    },
};
