{
    "root": true,
    "extends": [
        "eslint-config-egg/typescript",
        "eslint-config-egg/lib/rules/enforce-node-prefix",
    ],
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "single"],
        "semi": ["error", "always"],
        "object-curly-spacing": ["error", "always"],
    },
}
