.article-countainer {
	width: 60%;
	min-width: 800px;
	margin-left: 17rem;
	padding: 0 2rem 2rem 2rem;
	border-radius: 10px;
	border: 1px solid #e4e7ed;
	box-shadow: 0 0 0.825rem rgba(0, 0, 0, 0.12);
	background: #fff;
}

.article-right-part {
	position: fixed;
	right: 2.725rem;
	padding: 1rem;
	width: 15%;
	min-width: 15rem;
	border-radius: 10px;
	background-color: #fff;
	color: #333;
	font-size: 0.8125rem;
	border: 1px solid #e4e7ed;
	box-shadow: 0 0 0.825rem rgba(0, 0, 0, 0.12);
}

.article-title {
	font-size: 2rem;
	font-weight: 600;
	margin-top: 2rem;
	color: #333;
}
.article-page-info {
	margin-top: 0.8125rem;
}
